{% extends "layout.html" %}


{% block content %}

<h2>Tic Tac Toe Service</h2>

<h3>Summary</h3>
<p>
<h4>Full list of apis is at <code>/api</code></h4>
There main features are:
<ol>
  <li>Full CRUD operations for Game which represents a TicTacToe</li>
  <ul>
    <li><code>api/game</code> implements the CRUD api</li>
    <li>You can POST with body containing channel, user1, user2, [optional board_side=3] to set up a
      new game. This command will return a unique game ID
    </li>
    <li>You can GET <code>api/game/[id]</id></code> to see the current state of the game</li>
    <li>You can PUT <code>api/game/[id]</code> with user, pos to make a move for that user</li>
    <ul>
      <li>Position can be 1-9 for a regular 3x3 board. In this case it works like a phone keypad.
        Top left is 1. Bottom right is 9
      </li>
      <li>For larger boards say 5x5, and yes you can play arbitrary boards up to 20x20, Pos will be
        1-25. Here 5 will be rightmost square in first row. And 6 leftmost square in second row
      </li>
    </ul>
  </ul>
  <li>View past game statistics at <code>api/score/top</code>. This shows stats like highest scoring
    player, their win rate, who their most wins were against, how often they made the first move
    when they won, most winning row/col, etc
  </li>
  <li>All data is persisted to a MySQL DB.
    <ul>
      <li>This allows scaling. Since the computation, IO and network requirements for this program
        are very small. The only bottleneck is memory. By persisting to DB we can support vastly
        more traffic than an in-memory store
      </li>
      <li>Persisting to DB also allows us to be distributed since the individual service nodes are
        stateless. We can deploy and change cluster size at will
      </li>
      <li>The DB also allows calculating game stats as shown above</li>
      <li><b>NOTE: </b> After a lot of testing I found out that the bot is very responsive on my own
      machine but as it writes every single change to the game to DB it is slow on Heroku Free Tier.
        So I now cache objects in the service itself in a dict. This obviously doesn't allow horizontal
      scaling anymore since the cache is local to the machine. Using a common cache cluster would fix this</li>
    </ul>
  </li>
  <li>Finally, there is a slack_bot controller which parses slash commands and invokes our REST API
    in return. This way the REST API is completely separate from slack integration. In the future we can add
    other clients like slack's super secret brain computer interface, mobile apps or browsers
    <ul>
      <li>Start off a game in the slack channel by <code>/ttt challenge @another_user</code></li>
      <li>The user whose turn it is can make a move by <code>/ttt [1-9]</code></li>
      <li>Other users can show the status of the board by <code>/ttt show</code></li>
      <li>Get the stats for the top scoring player by <code>/ttt topscore</code></li>
      <li>Get help by <code>/ttt help</code></li>
    </ul>
  </li>
  </li>
</ol>

<h3>Architecture</h3>

<p>
  This is how the code is structured:
<ol>
  <li><code>game.py</code> This is a purposefully dumb "Model" (as in MVC) Game object that
    represents the state of the game and is persisted in the DB
  </li>
  <li><code>board.py</code> This class knows everything about tic tac toe. How to validate moves,
    update itself with given move, calculate game state (wins, draws, etc). It's like an Individual
    Contributor in a team
  </li>
  <li><code>data_provider_service.py</code> This is only code that is aware of DB specificities to
    C/R/U/D records in our chosen DB. This way we can change DBs at will. It's like a Database
    Administrator
  </li>
  <li><code>middleware.py</code> This is the service controller. It calls out to
    data_provider_service to get records, to Board to actually figure out what to do, to the
    data_provider_service again to persist record and finally returns results in the requested
    format. It's like a Team Manager
  </li>
  <li><code>calculate_stats.py</code> This takes the past games and retrieves interesting stats like
    who won the most, who they won against the most, did they win when they made first or second
    move, etc. It's like a Project Manager
  </li>
  <li><code>routes.py and app.py</code> The first associates the api routes to individual methods.
    And the later starts the App. So they collectively abstract away the API and App wiring.
  </li>
  <li><code>slack_bot.py</code> This is the only piece of code that knows about slack slash commands
    and interprets the slack commands to call out the internal APIs in middleware.py
  </li>
</ol>
</p>

<h3>Sample Usage</h3>
<p>
<li>Start a game by POSTing to<code>api/game</code> with body <code>chanel:C555, user1: U555, user2:
  U666</code></li>
<li>Response:</li>
<pre>
    {
      "id": 23,
      "url": "/api/game/23"
    }
  </pre>
</p>
<p>
<li>User1 can then make the first move by PUTing to <code>/api/game/23</code> with body <code>user=U555
  pos=1</code></li>
<li>Response:</li>
<pre>
    {
      "ascii": "| X |   |   |\n|---|---|---|\n|   |   |   |\n|---|---|---|\n|   |   |   |\n",
      "game": {
          "board": "100000000",
          "channel": "C999",
          "first_move": 1,
          "id": 23,
          "next_move_user": "U666",
          "state": "ongoing",
          "user1": "U555",
          "user2": "U666",
          "win_user": null
      },
      "state": "OK. Your move now @U666"
    }
  </pre>
<li>The ASCII comes out to</li>
<pre>
      | X |   |   |
      |---|---|---|
      |   |   |   |
      |---|---|---|
      |   |   |   |
    </pre>
</p>

<p>
<li>User 2 can make more moves and so on...</li>
<pre>
    | X | O | O |
    |---|---|---|
    | O | X | X |
    |---|---|---|
    | X | O | X |
  </pre>
</p>

<p>
<li>We can also get game overall stats by GETing <code>api/score/top</code></li>
<li>Response:</li>
<pre>
    {
      best_score_user: "U555",
      best_score_win_games_count: 5,
      best_score_win_rate_percent: 71.42857142857143,
      most_frequent_first_move_pos_in_wins: 1,
      most_frequent_first_move_pos_in_wins_count: 2,
      most_frequent_first_move_pos_in_wins_percent: 40,
      most_winning_state: "won_row2",
      most_winning_state_count: 2,
      most_winning_state_percent: 40,
      most_wins_against_player: "U666",
      most_wins_against_player_count: 3,
      most_wins_against_player_percent: 42.857142857142854,
      won_when_this_user_moved_first_count: 3,
      won_when_this_user_moved_first_percent: 60
    }
  </pre>
</p>

<h3>Slack Integration</h3>

<p>
  Here are some screenshots of this game being played using a slack bot
</p>
<img src="{{url_for('static', filename='img/game.png')}}">
<img src="{{url_for('static', filename='img/topscore.png')}}">

<h3>Deployment</h3>

<p>
  For testing simply point your slack bot to this URL<code>http://52.53.112.244:5000/api/slack/bot</code>
</p>
<p>
  To deploy this on your own server
</p>
<ol>
  <li>Create virtualenv and install requirements.txt</li>
  <li>Install mysql server and create a database</li>
  <li>Set two environment variables <code>JAWSDB_URL=mysql+mysqldb://user:password@127.0.0.1/db_name</code> and <code>FLASK_SECRET_KEY=arbitrary_string</code></li>
  <li>Now we have to make and fill the DB with some toy data
    <ul>
      <li>Comment out slack_bot and score_top in routes.py. In data_service_provider.py make sure the initialize and filldb methods don't exit early with a premature pass</li>
      <li>Run app.py and hit these apis to create tables and populate it <code>/api/initdb</code> and <code>/api/filldb</code></li>
      <li>Shut down the app, and in data_service_provider.py prematurely end those methods so someone doesn't reinitialize an already initializedb</li>
    </ul>
  <li>Run app.py and point the slack slash command to <code>/api/slack/bot</code></li>
  </li>
</ol>

<h3>To Do</h3>
<ol>
  <li>Make GIF of winning games. This would require storing num_position with each move in addition
    to who made the move
  </li>
  <li>Allow the game to be played by >2 players. Here we simply store a circular list of challengees
    and ask the next one for moves
  </li>
  <li>Implement a LRU Cache and evict oldest games from the cache rather than caching all ongoing games</li>
  <li>Play against AI. This would be in case one is having an ultimate boring workday. An AI could
    randomly switch every x moves between three strategies:
  </li>
  <ul>
    <li>Optimistic version: AI starts off in random empty square that is winnable and then tries to
      win that row/col until foiled. Then repeat with another random empty square.
    </li>
    <li>Pessimistic version: AI tries to actively foil the human player rather than focus on
      winning
    </li>
    <li>Smart version: AI would try to control as many winning combinations it can early</li>
  </ul>
  <li>Use UserIDs and ChannelIDs instead of user_names to future proof this. The only code that will have to change is
    slack_bot.py
  </li>
  </ul>
</ol>

{% endblock %}
