{% extends "layout.html" %}


{% block content %}

<ul>
  <li>
    <h4>If this is your first time here head on to the About page</h4>
  </li>
  <li>
    <h4>Otherwise head on over to /api and try out the REST API with your favorite REST Client</h4>
  </li>
</ul>

{% endblock %}
